@import url('https://fonts.googleapis.com/css2?family=Freeman&family=Oswald:wght@200..700&display=swap');
@font-face {
    font-family: "Adumu";
    src: url('../assets/Adumu.ttf') format('truetype');
    font-weight: normal;
}
.footer {
  background-color: #8B0000; 
  color: #f8eecb;
  text-align: center;
  padding: 1rem 0;
  font-family: 'Adumu', Helvetica, sans-serif;
  position: relative;
  bottom: 0;
  width: 100%;
  
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.footer p {
  margin: 0.3rem 0;
  font-size: 20px;
}

@media (max-width: 600px) {
  .footer {
    font-size: 0.9rem;
    padding: 1.5rem 0;
  }
}
